extends layout

block content
    section.container
        include header
        .item
            form.form(method="POST" action="/")
                fieldset
                    div.container.p1
                        label.item.i-b.v-top.ph3.right.p_25(for="gasto_id") Codigo:
                        input.item.i-b.v-top.ph9.p_25#gasto_id(type="text", name="gasto_id" required)
                    div.container.p1
                        label.item.i-b.v-top.ph3.right.p_25(for="nombre") Nombre:
                        input.item.i-b.v-top.ph9.p_25#nombre(type="text", name="nombre" required)
                    div.container.p1
                        label.item.i-b.v-top.ph3.right.p_25(for="fecha") Fecha:
                        input.item.i-b.v-top.ph9.p_25#fecha(type="text", name="fecha" required)
                    div.container.p1
                        label.item.i-b.v-top.ph3.right.p_25(for="costo") Monto:
                        input.item.i-b.v-top.ph9.p_25#costo(type="text", name="costo" required)
                    div.container.p1
                        label.item.i-b.v-top.ph3.right.p_25(for="descripcion") Descripcion:
                        input.item.i-b.v-top.ph9.p_25#descripcion(type="text", name="descripcion" required)
                    div.container.p1
                        input.item.ph4.mauto.button.add(type="submit", value="Agregar Costo")
