extends layout

block content
    article.container
        .item.center
            h1=title
            h2=description
            pre.error.left
                code #{error.stack}
            hr
            br
                
            a(href="/") Regresar

