extends layout

block content
    section.container
        include header
        article.item
            -if(data.length)
                div
                    table.table.table-striped.table-bordered.text-center
                        thead.thead-dark.text-capitalize
                            tr
                                th  Codigo
                                th  Nombre
                                th  Fecha
                                th  Costo
                                th  Descripción
                                th(colspan="2")
                                    form(action="/agregar", method="GET")
                                        input.btn.btn-primary.btn-lg(type="submit",value="Agregar Gasto")
                            each gasto in data
                                tr
                                    td= gasto.gasto_id
                                    td= gasto.nombre
                                    td= moment(gasto.fecha).format('DD-MM-YYYY')
                                    td= gasto.costo
                                    td= gasto.descripcion
                                    td
                                        form(method="GET" action=`/editar/${gasto.gasto_id}`)
                                            input.btn.btn-secondary(type="submit", value="Editar")
                                    td
                                        form(action=`/eliminar/${gasto.gasto_id}`, method="POST")
                                            input.btn.btn-danger(type="button", value="Eliminar" onclick="eliminar(this)")
                                            input(type="hidden", name=`_method`, value="DELETE")

                        script.
                            function eliminar(input)
                            {
                                let deleteOk = confirm('Estas seguro de eliminar el Gasto?')
                                return (deleteOk) ? input.parentNode.submit() : false
                            }
                    hr
            -else
                p.error No existen gastos en la base de datos
                div
                    form(action="/agregar", method="GET")
                        input.btn.btn-primary.btn-lg(type="submit",value="Agregar Gasto")
